@keyframes bounceGradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #6baed6, #4a90e2, #1e75d4, #6baed6);
    background-size: 300% 300%;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: bounceGradient 10s infinite linear;
}



button {
    padding: 12px 24px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#rezervacijaForma {
    background-color: #444;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    display: none;
    width: 80%;
    max-width: 500px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="time"],
form select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 2px solid #555;
    border-radius: 25px;
    background-color: #555;
    color: #ccc;
    transition: border-color 0.3s;
    font-size: 16px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="date"]:focus,
form input[type="time"]:focus,
form select:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.info-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #007bff; 
    transition: color 0.3s;
}

.info-icon:hover {
    color: #0056b3; 
}
